{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Commerce Invoices plugin for Craft CMS 3.x
 *
 * Commerce Invoices index.twig
 *
 * @author    Len van Essen
 * @copyright Copyright (c) 2021 Len van Essen
 * @link      wndr.digital
 * @package   CommerceInvoices
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Invoice number format'|t,
    id: 'invoiceNumberFormat',
    instructions: "Use twig here. E.g {{object.dateCompleted|date('Y')}}-{{'%05d'|format(object.invoiceId) }} will result in 2021-00001"|t,
    name: 'invoiceNumberFormat',
    value: settings['invoiceNumberFormat']})
}}

{{ forms.selectField({
    id: 'auto-generate-order-status-id',
    label: "Auto create on status"|t,
    name: 'automaticallyCreateOrderStatusId',
    instructions: 'Should the invoice be automatically created when an order reaches a specific orderstatus?',
    options: [{'option':0, 'label': 'Do not create automatically'|t('commerce-invoices')}]|merge(orderStatuses),
    value: settings['automaticallyCreateOrderStatusId'],
    class: 'auto-generate-order-status-id'
}) }}

<h1>{{ 'Emails'|t('commerce-invoices') }}</h1>
<p><strong>{{ 'Important'|t('commerce-invoices') }}:</strong>
<br>{{ "Don't create a native 'PDF' in Craft for the invoice/credit pdf. You can select a template in the settings of this plugin, and based on the emails you select below the system will attach the emails automatically."|t('commerce-invoices') }}</p>
{% if not emails|length %}
    {{ forms.field({
        label: 'Status Emails'|t('commerce'),
        instructions: '<span class="error">'~'You currently have no emails configured to select for this status.'|t('commerce')~'</span>',
        disabled: true
    }) }}
{% else %}
{#    {% set emails = emails|merge({0:'Do not send email'|t('commerce-invoices')}) %}#}

    {{ forms.selectField({
        label: 'Invoice Email'|t('commerce-invoices'),
        instructions: 'Select the Commerce e-mail that should be sent upon creating a new invoice'|t('commerce'),
        options: emails,
        name: 'invoiceEmailId',
        value: settings['invoiceEmailId']
    }) }}

    {{ forms.selectField({
        label: 'Credit Email'|t('commerce-invoices'),
        instructions: 'Select the Commerce e-mail that should be sent upon creating a new credit-invoice'|t('commerce'),
        options: emails,
        name: 'creditEmailId',
        value: settings['creditEmailId']
    }) }}

    <hr>

    <h2>{{ 'Template'|t('commerce-invoices') }}</h2>
    {{ forms.autoSuggestField({
        label: 'PDF Template Path'|t('commerce-invoices'),
        id: 'pdfPath',
        name: 'pdfPath',
        value: settings['pdfPath'],
        errors: settings.getErrors('pdfPath'),
        suggestions: craft.cp.getTemplateSuggestions()
    }) }}
{% endif %}